<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="'manageLine'">
          <span data-feather="home"></span>
          Manage Line <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="'manageProduct'">
          <span data-feather="file"></span>
          Manage Product
        </a>
      </li>
    </ul>
  </div>
</nav>
